{% extends "layout/alternating_color_table.html" %}
{% comment %} {% load macros %}
{% loadmacros "macros/forum_tickets/comment_form.html"  %}
{% loadmacros "macros/forum_tickets/comments_render.html" %}
{% loadmacros "macros/forum_tickets/post_ticket_content.html" %}  {% endcomment %}

{% block tags %}
  {% if post.tags %}
    <meta name="keywords" content="{{ post.tags|escape }}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  {% if is_admin or user == post.author %}
    <form method="post" action="{% url 'delete_post' post.id %}">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form> 
    <a href="{% url 'edit_post' post.thread.id post.id %}">Edit</a>
  {% endif %}
{% endblock %}

{% block beforeTableContent %}
 {% comment %} {% use_macro render_content post.title post.author post.date post.content %} {% endcomment %}
 <p> 
  {% for field in form %}
    <div class="fieldWrapper">
        <p>{{ field.label_tag }}</p>
        <p> {{ field }}</span> <p>
    </div>
  {% endfor %} </p>
{% endblock %}

{% block tableContent %}
{% comment %}   {% for comment in comments %}
    {{ comments_render.render_comments(
        [comment], comment.author, user, 
        user == comment.author or is_admin, user == comment.author or is_admin, 
        "{% url 'delete_comment' comment.id %}", 
        "{% url 'edit_comment' comment.post.thread.id comment.post.id comment.id %}"
    ) }}
  {% endfor %} {% endcomment %}
{% endblock %}

{% block postTableContent %}
  {% comment %} {{ comment_form.render_comment_form("post", "{% url 'post' post.thread.id post.id %}") }} {% endcomment %}
{% endblock %}
