{% extends "layout/alternating_color_table.html" %}
{% load macros %}
{% loadmacros "macros/forum_tickets/comments_render.html" %}
{% loadmacros "macros/forum_tickets/comment_form.html"  %}


{% block tags %}
  {% if post.tags %}
    <meta name="keywords" content="{{ post.tags|escape }}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  {% if is_admin or user == post.author %}
    <form method="post" action="{% url 'delete_post' post.id %}">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form> 
    <a href="{% url 'edit_post' post.thread.id post.id %}">Edit</a>
  {% endif %}
  <a href="{% url 'thread' post.thread.id %}"> Back To Thread </a>
{% endblock %}

{% block beforeTableContent %}
 <p> 
  {% for field in form %}
    <div class="fieldWrapper">
        <p>{{ field.label_tag }}</p>
        <p> {{ field }}</span> <p>
    </div>
  {% endfor %} </p>
{% endblock %}

{% block tableContent %}
    {% url 'delete_comment' comment.id as delete_url %}
    {% url 'edit_comment' comment.post.thread.id comment.post.id comment.id as edit_url %}
    {% use_macro render_comments page_obj user delete_url edit_url  %}   
{% endblock %}




{% block postTableContent %}

{% url 'post' post.thread.id post.id as post_url %} 

{% use_macro render_comment_form post post_url comment_form %}

{% endblock %}
