{% extends "layout/alternating_color_table.html" %}
{% import "macros/forum_tickets/comment_form.html" as comment_form %}
{% import "macros/forum_tickets/comments_render.html" as comments_render %}
{% import "macros/forum_tickets/post_ticket_content.html" as content %}

{% block tags %}
  {% if post.tags %}
    <meta name="keywords" content="{{ post.tags|e }}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  {% if is_admin or user == post.author %}
    <form method="post" action="{% url 'delete_post' post.id %}">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form> 
    <a href="{% url 'edit_post' post.thread.id post.id %}">Edit</a>
  {% endif %}
{% endblock %}

{% block beforeTableContent %}
  {{ content.render_content(post.title, post.author, post.date, post.content) }}
{% endblock %}

{% block tableContent %}
  {% for comment in comments %}
    {{ comments_render.render_comments(
        [comment], comment.author, user, 
        user == comment.author or is_admin, user == comment.author or is_admin, 
        "{% url 'delete_comment' comment.id %}", 
        "{% url 'edit_comment' comment.post.thread.id comment.post.id comment.id %}"
    ) }}
  {% endfor %}
{% endblock %}

{% block postTableContent %}
  {{ comment_form.render_comment_form("post", "{% url 'post' post.thread.id post.id %}") }}
{% endblock %}
