# do not push .sqlite files to GitHub
*.sqlite
*.sqlite3
*__pycache__
*.py[cod]
auth
venv
venv_312
.githubs
*.log
instance
.vscode
.env
/env
containers.json
public-endpoint.json
app/static/robots.txt
app/static/sitemap.xml
*.DS_Store
migrations
Favicon.png
