{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
  <form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="product-edit-container">
      <div class="form-section">
        <label for="id_name">Product Name</label>
        {{ form.name }}
      </div>
      <div class="form-section">
        <label for="id_price">Price</label>
        {{ form.price }}
      </div>
      <div class="form-section">
        <label for="id_tags">Tags</label>
        {{ form.tags }}
      </div>
    </div>
    <div class="form-section product-edit-description">
        <label for="id_description">Description</label>
        {{ form.description }}
    </div>
    <div class="product-edit-container">
      <div class="form-section">
        <label for="id_file_large">Large Image</label>
        {{ form.file_large }}
      </div>
      <div class="form-section">
        <label for="id_file_small">Small Image</label>
        {{ form.file_small }}
      </div>
    </div>
      <button class="primary-button">Create Product</button>
  </form>
{% endblock %}
