{% extends "layout/fullPageScroll.html" %}
{% load markdownit %}

{% block tags %}
  {% if product.tags %}
      <meta name="keywords" content="{{ product.tags|escape }}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  {% if is_admin %}
    <a href="{% url 'products:edit-product' product.id %}">Edit Product</a>
    <a href="{% url 'products:delete-product' product.id %}">Delete Product</a>
  {% endif %}
{% endblock %}

{% block pageContent %}
    <p>{{ product.price }}</p>
    <div class="commonmark">{{ product.description|markdownit }}</div>
    <img src="{{ product.stock_image_url|escape }}" alt="Product Image">
{% endblock %}
