{% extends "layout/fullPageScroll.html" %}
{% load macros %}

{% block pageDropDowns %}
  {% if is_admin %}
    <a href="/products/create">New Product</a>
  {% endif %}
{% endblock %}

{% block pageContent %}
  <div class="product-grid">
    {% for product in products %}
      <a href="/products/{{ product.id }}">
        {% if product.name %}
          <div>{{ product.name }}</div>
        {% endif %}
        <div class="product-item">
          <img src="{{ product.card_image_url }}" alt="Product Image">
        </div>    
      </a>
    {% endfor %}
  </div>
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if products.has_previous %}
      <a href="?page={{ products.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in products.paginator.page_range %}
      {% if num == products.number %}
        <span class="current">{{ num }}</span>
      {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% endblock %}
