{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
  <form class="form" method="POST">
    {% csrf_token %}
    <div class="order-edit-container">
      <div class="form-section">
        {{ form.customer.label_tag }}
        {{ form.customer }}
      </div>
      <div class="form-section">
        {{ form.order_date.label_tag }}
        {{ form.order_date }}
      </div>
      <div class="form-section order-edit-description ">
        {{ form.is_cancelled.label_tag }}
        {{ form.is_cancelled }}
      </div>
    </div>

      {% if action == "update" %}
        <a href="{% url "orders:detail-order" order.id %}">
          <button class="primary-button" type="button">Cancel</button>
        </a>
        <button class="primary-button" type="submit">Save changes</button>
      {% else %}
        <a href="{% url "orders:list-orders" %}">
          <button class="primary-button" type="button">Cancel</button>
        </a>
        <button class="primary-button" type="submit">Add Order</button>
      {% endif %}
  </form>
{% endblock %}