{% extends "layout/alternating_color_table.html" %}
{% load macros %}
{% loadmacros "macros/pagination.html" %}


{% comment %} View All Past,  Resolved Reopen Requests for this Ticket {% endcomment %}


{% block pageDropDowns %}
  <a href="{% url 'ticket'  ticket.id %}"> Return to Ticket Details  </a>
{% endblock %}


{% block beforeTableContent %}
    <div class="title-underline">
      <a class="text-button" href="{% url 'view_all_resolved_reopen_requests' ticket.id 'all' %}">All Resolved Requests</a>|
      <a class="text-button" href="{% url 'view_all_resolved_reopen_requests' ticket.id 'approved' %}">Approved</a>|
      <a class="text-button" href="{% url 'view_all_resolved_reopen_requests' ticket.id 'denied' %}">Denied</a>|
      <a class="text-button" href="{% url 'view_all_resolved_reopen_requests' ticket.id 'related request approved' %}">Approved via Related Request</a>
      <a class="text-button" href="{% url 'view_all_resolved_reopen_requests' ticket.id 'manually reopened' %}">Ticket Manually Reopened</a>
    </div>
{% endblock %}


{% block tableContent %}
 {% comment %} Worked with Gemini to get some code to manage UTC-to-local timezone conversion {% endcomment %}
<script>
  function convertUTCToLocal(utcTime) {
    const utcMillis = new Date(utcTime).getTime();
    const localDate = new Date(utcMillis);
    return localDate.toLocaleString('en-US', {
      month: 'long',
      day: 'numeric',
      year: 'numeric',
      hour: 'numeric',
      minute: 'numeric',
      hour12: true
    });
  
  }
</script>
  {% for reopen_request in page_obj %}
  <tr><td class="post-container">
    <a class="alternating-colors-table-links"href="{% url 'view_extended_resolved_request_details' reopen_request.id %} ">{{ reopen_request.reason|escape }}</a>
    <div class="comment-title-underline">
      <div><b> Requested by {{reopen_request.author.name|escape}}  on  <span id="request-time-{{forloop.counter}}"></span> </b> </div>
      <script>
        var utcTime = new Date('{{ reopen_request.request_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('request-time-{{forloop.counter}}').textContent = localTime;
      </script>
    </div>
  </td></tr>
  {% endfor %}
  {% use_macro render_pagination page_obj %}




{% endblock %}


