{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
<p> 
    {% for field in form %}
      <div class="fieldWrapper">
          <p>{{ field.label_tag }}</p>
          <p> {{ field }}</span> <p>
      </div>
    {% endfor %} 
    <div><b> Requested on  <span id="request-time"></span> </b> </div>
    <script>
      function convertUTCToLocal(utcTime) {
              const utcMillis = new Date(utcTime).getTime();
              const localDate = new Date(utcMillis);
              return localDate.toLocaleString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
          });
            
        }
        var utcTime = new Date('{{ reopen_request.request_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('request-time').textContent = localTime;
    </script>
</p>
        <button class="primary-button" href="#" type="submit">Approve Request</button>
        <span class="text-button">|</span>
        <form class="form" method="POST" action="{% url 'deny_reopen_request' reopen_request.id %}">
            {% csrf_token %}
            <button class="primary-button" type="submit">Deny Request</button>
        </form>
{% endblock %}