{% extends "layout/fullPageScroll.html" %}
{% load static %}
{%comment %}
   Pending Reopen request for a specific ticket from the current user. There is no "list page" for this, 
   for this view,  since the rule is a user may not have more than one pending reopen request
   per ticket. They must wait for the current pending request to be handled; then they can make 
   a new request as needed.
{% endcomment %}

{% block pageDropDowns %}
   <a href="{% url 'ticket' ticket_id %}"> Return to Ticket Details </a>
{% endblock %}

{% block pageContent %}
<p> 
    {% for field in form %}
      <div class="fieldWrapper">
          <p>{{ field.label_tag }}</p>
          <p> {{ field }}</span> <p>
      </div>
    {% endfor %} 
    <div><b> Requested on <span id="request-time"></span> </b> </div>
    <script src="{% static 'javascript/dateTimeConversion.js'   %}"></script>
    <script>
        var utcTime = new Date('{{ reopen_request.request_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('request-time').textContent = localTime;
    </script>
</p>
{% endblock %}