{% extends "layout/fullPageScroll.html" %}

{% block pageDropDowns %}
<a href="{% url 'view_pending_reopen_requests' ticket_id %}"> Back to Pending Reopen Requests </a>
{% endblock %}

{% block pageContent %}
<p> 
    {% for field in form %}
      <div class="fieldWrapper">
          <p>{{ field.label_tag }}</p>
          <p> {{ field }}</span> <p>
      </div>
    {% endfor %} 
    <div><b> Requested on  <span id="request-time"></span> </b> </div>
    <script>
      function convertUTCToLocal(utcTime) {
              const utcMillis = new Date(utcTime).getTime();
              const localDate = new Date(utcMillis);
              return localDate.toLocaleString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
          });
            
        }
        var utcTime = new Date('{{ reopen_request.request_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('request-time').textContent = localTime;
    </script>
</p>

<a class="text-button" style="color:purple;" href="#"> Approve/Deny this Request </a>
{% endblock %}
