{% extends "layout/fullPageScroll.html" %}
{% load static %} 

{% block pageDropDowns %}
   <a href="{% url 'ticket'  ticket.id %}">Cancel</a>
{% endblock %}

{% block pageContent %}
  <input type="hidden" id="ticket-edit-link" value='{% url 'edit_ticket' ticket_id %}'>
  <form class="form" method="POST" action="{% url 'edit_ticket' ticket_id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="submit-ticket-edit" class="primary-button" type="submit">Confirm Ticket Edit</button>

  {% comment %}  If the selected Role changes, re-populate the owner field accordingly
    (tweaking code from Google Gemini + what I have in calendarEvents.js)
  {% endcomment %}

  <script src="{% static 'javascript/jquery/1.12.4/jquery.min.js' %}"></script>
  <script src="{% static 'javascript/scripts.js'                  %}"></script>
  <script>
      const rolePicklist = document.getElementById('id_role')
      const submitButton = document.getElementById('submit-ticket-edit'); 


      if (rolePicklist && submitButton) {
        rolePicklist.addEventListener('change', function() {
          const selectedRole = this.value;
          const ownerPicklist = document.getElementById('id_owner');
          const ticketEditLink= document.getElementById('ticket-edit-link')   
        
          // if the ownerlist does not exist or is not a SELECT list
          // stop right here.  Not a likely scenario given the elements
          // are generated per a Django Form,  but Gemini recommends it for 
          // defensive programming... in case of changes in the future
           if(!ownerPicklist || ownerPicklist.tagName !== "SELECT") {
              throw new error("Apparently either the Owner dropdown box is gone, or some element with the same id exists that is NOT a selection/dropdown element.")
           }
          // The hidden element's id is slightly more likely to be directly edited by someone 
          if(!ticketEditLink) {
              throw new error("Apparently the ticket edit link is missing")
          }

          const ticketEditLinkString = ticketEditLink.value;


          // blank out the owners before trying to fetch new owners
          // if we can't get the new ones we NOT want the user 
          // to see the old ones on the "wrong" role
          ownerPicklist.innerHTML = '';
          // don't update the ticket until the valid owner options for this role have been chosen
          submitButton.disabled = true; // Disable submit on role change (while loading)
          submitButton.textContent = "Loading..."; // Change button text

          // AJAX call to the Edit Ticket view
          fetch(ticketEditLinkString + '?selected_role=' + encodeURIComponent(selectedRole), {
            method: 'GET'
          })
          .then(response => {
            if (!response.ok || selectedRole == 3) {
              throw new Error('Ran into an error fetching the owner options for the new role');
            }
            return response.json();
          })
          .then(data => {
            console.log('Received from server:', data);
            
            // No matter what's in the list,  start with the blank option
            const defaultOption = document.createElement('option');
            defaultOption.value = "";
            defaultOption.textContent = "---------";
            defaultOption.selected = true;
            ownerPicklist.appendChild(defaultOption);
             
            if (data.options) {
              data.options.forEach(optionData => {
                const option = document.createElement('option');
                option.value = optionData.value;
                option.textContent = optionData.label;
                ownerPicklist.appendChild(option);
              });
              // if we disabled it before, re-enable
              ownerPicklist.disabled = false;
              submitButton.disabled = false;
              submitButton.textContent = "Confirm Ticket Edit";
              console.log("Owner picklist should be updated now");

            }
          })
          .catch(error => {
            console.error('Error loading Owner options for the Role change!', error);
            const ownerPicklist = document.getElementById('id_owner');
            const errorOption = document.createElement('option');
            errorOption.textContent = "Error Updating Owner list... try clearing by changing roles!";
            ownerPicklist.appendChild(errorOption);
            ownerPicklist.disabled = true;
            submitButton.textContent = "Error";
            submitButton.disabled = true;
            
          });
        });
      }
      else {
        console.error("Apparently the Role dropdown box  - OR the Submit button - is gone or hasn't loaded yet.Wait a bit, but then, if it doesn't show up, contact your system administrator")
      }
    
      
  </script>

  </form>
{% endblock %}
