{% extends "layout/fullPageScroll.html" %}
{% comment %} {% load markdownit %} {% endcomment %}
{% block tags %}
  {% if home.tags %}
      <meta name="keywords" content="{{home.tags|escape}}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  <a href="/home/edit">Edit Home Page</a>
{% endblock %}


{% block pageContent %}
    <article>
      <div class="home-container">
        {% comment %} <div class="commonmark">{{home.article|markdownit|safe}}</div> {% endcomment %}
        <div class="image-container">
            <img src="{{image|escape}}" alt="Home Image" style="width: 100%; height: auto">
        </div>
    </article>
{% endblock %}
