{% extends "layout/fullPageScroll.html" %}

<!-- Need to set if_admin condition for pageDropDown options -->
{% block pageDropDowns %}
  <a href="{% url 'edit_status' job_id=job.id application_id=application.id %}">Edit Status</a>
{% endblock %}

{% block pageContent %}
  <h1>Application for {{ application.job.job_title }}</h1>
  <p>Applied on {{ application.date_applied }}</p>
  <p>Resume: <a href="{{ resume_url }}" target="_blank">Download</a></p>
  {% if cover_letter_url %}
    <p>Cover Letter: <a href="{{ cover_letter_url }}" target="_blank">Download</a></p>
  {% endif %}
  <p>Message: {{ application.message }}</p>
  <p>Location: {{ application.location }}</p>
{% endblock %}
