{% extends "base.html" %}
{% load macros %}
{% loadmacros "pagination.html" %}

{% block content %}
  <h2>Job Applications for {{ job.job_title }}</h2>
  <div class="title-underline">
    <a class="text-button" href="{% url 'job_applications' job_id=job.id %}">all</a>|
    <a class="text-button" href="{% url 'job_applications' job_id=job.id %}?status=pending">pending</a>|
    <a class="text-button" href="{% url 'job_applications' job_id=job.id %}?status=accepted">accepted</a>|
    <a class="text-button" href="{% url 'job_applications' job_id=job.id %}?status=rejected">rejected</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Applicant Name</th>
        <th>Date Applied</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <td><a href="{% url 'application_detail' job_id=job.id application_id=application.id %}">{{ application.user.name }}</a></td>
          <td>{{ application.date_applied }}</td>
          <td>{{ application.status_code }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="3">No applications found.</td></tr>
      {% endfor %}
    </tbody>
  </table>

{% use_macro render_pagination applications.items %}

{% endblock %}
