{% extends "layout/horizontal_split.html" %}
{% load markdownit %}

{% block tags %}
  {% if post.tags %}
      <meta name="keywords" content="{{ post.tags|escape }}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  {% if is_admin %}
    <a href="/blogs/{{ post.id }}/edit/">Edit Post</a>
    <a href="/blogs/{{ post.id }}/delete/"> Delete Post</a>
  {% endif %}
{% endblock %}

{% block leftContent %}
  {% include "link_list.html" %}
{% endblock %}

{% block rightContent %}
 {% comment %} Worked with Gemini to get some code to manage UTC-to-local timezone conversion {% endcomment %}
 <script>
  function convertUTCToLocal(utcTime) {
    const utcMillis = new Date(utcTime).getTime();
    const localDate = new Date(utcMillis);
    return localDate.toLocaleString('en-US', {
      month: 'long',
      day: 'numeric',
      year: 'numeric',
      hour: 'numeric',
      minute: 'numeric',
      hour12: true
    });
  
  }
</script>
    <h3 class="blog-post-title">{{ post.title|escape }}</h3>
    <article class="blog-article">
      {% if is_create_missing %}
      <p style="color: red;" >  
       Blog Creation Date / Original Author not found!
      </p>
      {% endif %}
      <p class="blog-author-date"> Originally Posted On: <span id="blog-post-original-date"></span> </b> | Author: {{ author|escape }} </p>
      <script>
        var utcTime = new Date('{{ blog_author_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('blog-post-original-date').textContent = localTime;
      </script>
      <p class="blog-author-date"> Last Edit:  <span id="blog-post-edited-date"></span>| Edited By: {{ edited_by|escape }} </p>
      <script>
        var utcTime = new Date('{{ blog_edited_date|date:"c" }}');
        var localTime = convertUTCToLocal(utcTime);
        document.getElementById('blog-post-edited-date').textContent = localTime;
      </script>
      <div class="commonmark">
        {{ post.content|markdownit }}
      </div>
    </article>
{% endblock %}
