{% extends "layout/alternating_color_table.html" %}
{% load macros %}
{% loadmacros "macros/pagination.html" %}



{% block tableContent %}

<b> Groups that can be accessed by members of Group: {{ group_with_access.name }}, which may NOT be accessible to that group via the tree structure </b>
{% for group in page_obj %}
<tr><td class="post-container">
  <a class="alternating-colors-table-links" href="{% url "group" group.id %}">{{ group.name |escape }}</a>
  <div class="comment-title-underline"> 
</td></tr>
{% endfor %}
{% use_macro render_pagination page_obj %}




{% endblock %}
