{% extends "layout/fullPageScroll.html" %}
{% block pageContent %}
    <form>
            {% csrf_token %}
            {{ manager_form.as_p }}
    </form> 
    <form>
        {% csrf_token %}
        {{ form.as_p }}
    </form>  

<b>Parent Group: </b>
{% if parent_group  %}
   <a class="text-button" style="color: purple;" href="{% url "group" parent_group.id %}">{{ parent_group.name |escape }}</a>
{% else  %}
    <a class="text-button" style="color: purple;" href= "">(None) </a>
{% endif  %}
                 
    

{% endblock %}
