{{ form.media }} 
{% for field in form %}
    <div class="fieldWrapper">
        <p>{{ field.errors }}</p>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
    </div>
    {% comment %} Tweaked Google Gemini's suggestion for clearing all the check boxes -  button needed
     since the user cannot seem to manually deselect ALL participants once some are selected {% endcomment %}
    {% comment %} {% if forloop.revcounter0 == 1 %} 
        <button type="button"  onclick="clearParticipants();" id="clear-participants">Clear All </button>
    {% endif %}  {% endcomment %}

   <p> {% if forloop.last %} 
        <button type="button"  onclick="clearRoles();" id="clear-roles">Clear All</button>
    {% endif %}  </p>
{% endfor %}