{# To use this template tag, add the next line to the template to paginate: #}
{# {% include 'components/pagination.html' page=current_page %} #}

<!-- Pagination links -->
<div class="page-items">
  {{ page.start_index }} - {{ page.end_index }} of {{ page.paginator.count }}
</div>
{% if page.has_other_pages %}
    <div class="pagination-list">
        {% if page.has_previous %}
            <div><a href="?page={{ page.previous_page_number }}">Previous</a></div>
        {% endif %}

        {% for num in page.paginator.page_range %}
            {% if num == page.number %}
                <div class="current">{{ num }}</div>
            {% else %}
                <div><a href="?page={{ num }}">{{ num }}</a></div>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <div><a href="?page={{ page.next_page_number }}">Next</a></div>
        {% endif %}
    </div>
{% endif %}
