{% extends "layout/fullPageScroll.html" %}
{% load macros %}
{% loadmacros 'macros/pagination.html' %}

{% block pageDropDowns %}
  {% if is_admin %}
    <a href="/jobs/create">New Job</a>
  {% else %}
    <a href="{% url 'my_applications' %}">My Applications</a>
  {% endif %}
{% endblock %}

{% block pageContent %}
  <div class="job-grid">
    {% for job in jobs %}
      <a href="/jobs/{{ job.id }}">
        <div>{{ job.job_title }}</div>
        <div>Posted on {{ job.date_posted|date:"F d, Y" }}</div>    
      </a>
    {% endfor %}
  </div>

  {% use_macro render_pagination page_obj %}
{% endblock %}
