{% extends "layout/fullPageScroll.html" %}
{% load static %}
{% load macros %}
{% loadmacros "macros/pagination.html" %}

{% block pageDropDowns %}
<a href="{% url "calendar:detail-event" event.id %}">Event Details </a>
{% if can_change %}
    <a href="{% url "calendar:edit-event" event.id %}">Edit Event</a>
{% endif %}
{% endblock %}

{% block pageContent %}
<div>
    {% if event_participants.all|length > 0 %}
       <hr>
        <p> <b> Participants: </b> </p>
       <hr>
        {% for participant in event_participants.all %}
            <p class="post-info"><li>{{ participant.name }} - {{ participant.email }}</li></p>
        {% endfor %}
    {% endif %}
    <!-- Pagination -->
    {% use_macro render_pagination page_obj %}
<div>
{% endblock %}


