{% extends "layout/fullPageScroll.html" %}
{% load static %}  
{% block pageDropDowns %}
    {%  if action == "update" %}
        <a href="{% url "calendar:detail-event" event.id %}">Cancel</a>
    {%  else  %}
        <a href="{% url "calendar:calendar" %}">Cancel</a>
    {%  endif %}
{% endblock %}

{% block pageContent %}
    <form class="event-form-class" method="POST">
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for error in form.errors %}
                    <ul>
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.media }} 
        {{ form }}


        {% if action == "update" %}
            <a href="{% url "calendar:detail-event" event.id %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
                <button class="primary-button" type="submit">Save changes</button>
        {% else %}
            <a href="{% url "calendar:calendar" %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
            <button class="primary-button" type="submit">Add Event</button>
        {% endif %}

    </form>


   <script src="{% static 'javascript/jquery/1.12.4/jquery.min.js' %}"></script>
   <script src="{% static 'javascript/scripts.js' %}"></script>
   {% comment %}  Google Gemini's suggestion for clearing all the check boxes -  button needed
   since the user cannot seem to manually deselect ALL participants once some are selected {% endcomment %}
   <script>
    $(document).ready(function() {
        $('#clear-participants').click(function() {
            $('#id_participants').val([]).trigger('change'); 
        });
    });
    </script>
    
{% endblock %}


