{% extends "layout/fullPageScroll.html" %}
{% load static %}  
{% block page_head_assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock page_head_assets %}
{% block pageDropDowns %}
    {%  if action == "update" %}
        <a href="{% url "calendar:detail-event" event.id %}">Cancel</a>
    {%  else  %}
        <a href="{% url "calendar:calendar" %}">Cancel</a>
    {%  endif %}
{% endblock %}

{% block pageContent %}
    
    <form class="event-form-class"id="eventCreateForm" method="POST">
        {% if form_errors %}
            <div class="alert alert-danger">
                {% for error in form_errors %}
                    <ul>
                        <li style="color:red;">{{ error }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.media }} 
        {{ form }}
        <input type="text" id="myDateTimePicker">
        <input type="hidden" name="custom_data" id="hidden-custom-data" value="">

           
        {% if action == "update" %}
            <a href="{% url "calendar:detail-event" event.id %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
                <button class="primary-button" type="submit">Save changes</button>
        {% else %}
            <a href="{% url "calendar:calendar" %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
            <button class="primary-button" type="submit">Add Event</button>
        {% endif %}

    </form>


   <script src="{% static 'javascript/jquery/1.12.4/jquery.min.js' %}"></script>
   <script src="{% static 'javascript/scripts.js' %}"></script>
   <script src="{% static 'javascript/calendarEvents.js' %}"></script> 
   <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   <script>
    flatpickr("#myDateTimePicker", {
      enableTime: true,
      // 'K' outputs a local ISO 8601 string including the offset (e.g., -05:00)
      dateFormat: "Y-m-d H:i",
      time_24hr: true,
    });


    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('eventCreateForm');
        const customField = document.getElementById('myDateTimePicker');
        const hiddenField = document.getElementById('hidden-custom-data');
    
        form.addEventListener('submit', function(event) {
            // 1. Get the value from the custom field
            const customValue = customField.value; 
    
            // 2. Set the value of the hidden input field
            hiddenField.value = customValue; 
    
            // The form will now proceed with submission, 
            // including the new 'custom_data' field.
        });
    });

  </script>

    
{% endblock %}


