{% extends "layout/fullPageScroll.html" %}
{% load static %}  
{% load macros %}
{% loadmacros "macros/pagination.html"%}

{% block pageDropDowns %}
    <a href="{% url "calendar:calendar" %}">Back To Calendar</a>  
    {% if can_see_all_details %}
      <a href="{% url "calendar:copy-event" event.id %}">Duplicate Event</a>
      <a href="{% url "calendar:display_event_participants" event.id %}">View Event Participants</a>
    {% endif %}
    {% if can_change %}
        <a href="{% url "calendar:edit-event" event.id %}">Edit Event</a>
        <a href="{% url "calendar:delete-event" event.id %}">Delete Event</a>
    {% endif %}
{% endblock %}

{% block pageContent %}

 {% comment %} Worked with Gemini to get some code to manage UTC-to-local timezone conversion {% endcomment %}
 <script>
    function convertUTCToLocal(utcTime) {
      const utcMillis = new Date(utcTime).getTime();
      const localDate = new Date(utcMillis);
      return localDate.toLocaleString('en-US', {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
      });
    
    }
  </script>

<div class="post-container">
    <div class="title-underline">
        <h2 class="post-title">{{ event.title }}</h2>
        <p class="post-info" style="color: orange;"> Created by {{ event.author.name }} @  
            {% if ticket.is_create_missing %}
                <p style="color: red;" >  
                <i> Warning! Event Creation Date not found!</i> </p>
            {% else %}
                   on <span id="event-creation-time"></span>
                  <script>
                    var utcTime = new Date('{{ event.create_date|date:"c" }}');
                    var localTime = convertUTCToLocal(utcTime);
                    document.getElementById('event-creation-time').textContent = localTime;
                  </script>
                  
            {% endif %}
        </p>
    {% if event.row_action == 'CREATE' %} 
    </div>
    {% elif event.row_action == 'EDIT' %}
        <div><b> {% if event.last_edited_by %} Last Edited By: {{event.last_edited_by.name|escape}} {% else %} Last Edited By: <i> Unknown User </i>  {% endif %} 
                  on  <span id="event-latest-time"></span> </b> </div>
        <script>
          var utcTime = new Date('{{ event.last_edit_date|date:"c" }}');
          var localTime = convertUTCToLocal(utcTime);
          document.getElementById('event-latest-time').textContent = localTime;
        </script>
     </div>
     {% else %}
    </div> 
    <div class="title-underline">
        <p style="color: red;" >  
          <i> Warning: The latest data we have on this Event may be from the date/time this Event was deleted,  before being restored. (Rather than the last time it was edited. Your system administrator can check on this</i>
        </p>
    </div>
     {% endif %}

    <p class="post-info"> <b> Organizer : </b>  {{ event.organizer.name }}</p>
    <p class="post-info"> <b> Start time: </b> {{ event.start_date }} @ {{ event.start_time }}</p>
    <p class="post-info"> <b> End time: </b> {{ event.end_date }} @ {{ event.end_time }}</p>
    <p class="post-info"> <b> Test Time: </b> {{ event.test_date }} @ {{ event.test_time }}</p>
    {% if event.description %}
        <p class="post-info"> <b> Description </b> : {{ event.description }}</p>
    {% endif %}
    {% if event.location %}
        <p class="post-info"><b> Location:  </b> {{ event.location }}</p>
    {% endif %}
    <div>
      <p class="post-info"> <b> This Event Is

        {% if event.is_public %}
          Public </b> </p>
        {% else %}
          For These Roles & Participants: </b> </p>
        {% endif %}
        {% if can_see_all_details %}

          {% if event_roles.all|length > 0 %}
            <hr>
              <p> <b> Roles: </b> </p>
            <hr>
              {% for role in event_roles.all %}
                  <p class="post-info">{{ role.name }}</p>
              {% endfor %}
          {% endif %}
          <!-- Pagination -->
          {% use_macro render_pagination role_page_obj %} 
        {% endif %}
    </div>
    <div>
          <hr>
          {% if can_see_all_details %}
            <a href="{% url "calendar:display_event_participants" event.id %}">
              <button class="primary-button" type="button">View Event Participants</button>
            </a>
          {% endif %}
          <hr>
          
    </div>
</div>
<script src="{% static 'javascript/jquery/1.12.4/jquery.min.js' %}"></script>
<script src="{% static 'javascript/scripts.js' %}"></script>
<script src="{% static 'javascript/calendarEvents.js' %}"></script> 

{% endblock %}
