{% extends "layout/fullPageScroll.html" %}
{% load static %}  
{% block page_head_assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock page_head_assets %}
{% block pageDropDowns %}
    {%  if action == "update" %}
        <a href="{% url "calendar:detail-event" event.id %}">Cancel</a>
    {%  else  %}
        <a href="{% url "calendar:calendar" %}">Cancel</a>
    {%  endif %}
{% endblock %}

{% block pageContent %}
    
    <form class="event-form-class"id="eventCreateForm" method="POST">
        {% if form_errors %}
            <div class="alert alert-danger">
                {% for error in form_errors %}
                    <ul>
                        <li style="color:red;">{{ error }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.media }} 
        {{ form }}

        <p> Start Time: <input type="text" id="startDateTimePicker">  </p>

        <p> End Time: <input type="text" id="endDateTimePicker">  </p> 

           
        {% if action == "update" %}
            <a href="{% url "calendar:detail-event" event.id %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
                <button class="primary-button" type="submit">Save changes</button>
        {% else %}
            <a href="{% url "calendar:calendar" %}">
                <button class="primary-button" type="button">Cancel</button>
            </a>
            <button class="primary-button" type="submit">Add Event</button>
        {% endif %}

    </form>


   <script src="{% static 'javascript/jquery/1.12.4/jquery.min.js' %}"></script>
   <script src="{% static 'javascript/scripts.js' %}"></script>
   <script src="{% static 'javascript/calendarEvents.js' %}"></script> 
   <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   <script>

    flatpickr("#startDateTimePicker", {
        enableTime: true,
        dateFormat: "F j, Y h:i K",
    });

    flatpickr("#endDateTimePicker", {
        enableTime: true,
        dateFormat: "F j, Y h:i K",
    });



    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('eventCreateForm');

        // get the local timezone Start DateTime
        const startField = document.getElementById('startDateTimePicker');
        const hiddenStartField = document.getElementById('id_start_datetime');
        const startFlatpickr = document.querySelector("#startDateTimePicker")._flatpickr;

        // get the local timezone End DateTime
        const endField = document.getElementById('endDateTimePicker');
        const hiddenEndField = document.getElementById('id_end_datetime');
        const endFlatpickr = document.querySelector("#endDateTimePicker")._flatpickr;
        



        form.addEventListener('submit', function(event) {
         

           // make the Start DateTime UTC before handing to backend
           const localStartDate = startFlatpickr.selectedDates[0];
           const utcStartDate = localStartDate.toISOString();
           hiddenStartField.value = utcStartDate; 


          // make the End DateTime UTC before handing to backend
          const localEndDate = endFlatpickr.selectedDates[0];
          const utcEndDate = localEndDate.toISOString();
          hiddenEndField.value = utcEndDate; 



        });
    });

  </script>

    
{% endblock %}


