{% extends "layout/fullPageScroll.html" %}
{% load static %}  {# Load static files #}

{% block pageDropDowns %}
  <a href="{% url 'create_company' %}">Create New Company</a>
{% endblock %}

{% block pageContent %}
  <p>Please click on a link below to view a specific company's information.</p>
  <ul class="company-list">
    {% for company in companies %}
      <li><a href="{% url 'display_company_info' company_id=company.id %}">{{ company.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
