{% extends "layout/fullPageScroll.html" %}
{% load static %}  {# Load static files #}

{% block pageDropDowns %}
  {% if is_admin %}
    <a href="{% url 'create_company' %}">Create New Company</a>
  {% endif %}
{% endblock %}

{% block pageContent %}
  <p>Please click on a link below to view a specific company's information.</p>
  <ul class="company-list">
    {% for company in companies %}
      <li><a href="{% url 'display_company_info' pk=company.id %}">{{ company.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
