{% extends "layout/fullPageScroll.html" %}

{% block pageDropDowns %}
  <a href="{% url 'display_company_info' pk=company.id %}">Company Home</a>
{% endblock %}

{% block pageContent %}
{% if messages %}
<div class="alert alert-danger center-title">
    {% for message in messages %}
        {{ message }}.
    {% endfor %}
</div>
{% endif %}
    <form class="form" method="POST" action="{% url 'edit_company_info_post' pk=company.id %}">
      {% csrf_token %}
      {{ form }}
      <button class="primary-button" type="submit">Save</button>
    </form>
{% endblock %}
