{% extends "layout/fullPageScroll.html" %}
{% load static %}
{% load macros %}
{% loadmacros "macros/pagination.html" %}

{% block pageDropDowns %}
<a href="{% url 'display_company_info' pk=company.id %}">Company Home</a>
<a href="{% url 'edit_company_members' company_id=company.id %}">Edit Members</a>
{% endblock %}

{% block pageContent %}
<div class="content-section">
  <div class="member-list">
    <ul>
      {% comment %} The Users List was pre-filtered on membership in Company {% endcomment %}
      {% for user in users %}
          <li>{{ user.name }} - {{ user.email }}</li>
      {% endfor %}
    </ul>
  </div>
  {% use_macro render_pagination page_obj %}
</div>
{% endblock %}
