{% extends "layout/fullPageScroll.html" %}
{% load static %}
{% load macros %}
{% loadmacros "macros/pagination.html" %}

{% block pageDropDowns %}
<a href="{% url 'display_company_info' pk=company.id %}">Company Home</a>
<a href="{% url 'edit_company_members' company_id=company.id %}">Edit Members</a>
{% endblock %}

{% block pageContent %}
<div class="content-section">
  <h1 class="profile-title">Members of {{ company.name }}</h1>
  <div class="member-list">
    <ul>
      {% for user in users %}
        {% if user.id in members_ids_list %}
          <li>{{ user.name }} - {{ user.email }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% use_macro render_pagination page_obj %}
</div>
{% endblock %}
