{% extends "layout/fullPageScroll.html" %}
{% load static %}  {# Load static files #}

{% block pageDropDowns %}
  <a href="{% url 'display_company_info' company_id=company.id %}">Company Home</a>
{% endblock %}

{% block pageContent %}
  <div class="content-section">
    <h1 class="profile-title">Edit Company Members</h1>
    <form class="form" method="POST" action="{% url 'edit_company_members_post' company_id=company.id %}">
      {% csrf_token %}
      <input type="hidden" name="page-number" value="{{ page }}"/>
      <div class="member-grid">
        {% for user in users %}
          <div>
            <input type="checkbox" id="{{ user.id }}" name="member-checkbox" value="{{ user.id }}"
                   {% if user.id in members_ids_list %} checked {% endif %} />
            <label for="{{ user.id }}">{{ user.name }}</label>
          </div>
        {% endfor %}
      </div>
      <button class="primary-button" type="submit">Save</button>
    </form>
  </div>
{% endblock %}
